@charset "utf-8";

/* 초기화 */
html, body{
    margin: 0;
}

.wrapper{
    background: gray;
    height: 100vh;
    padding:0 100px;
    display: flex;
    flex-direction: column;
}
.header{
    background: yellow;
    height: 50px;
    flex: 0 0 auto;
    /* <<<단축표기법<<<<< */
    /* flex-grow: 1;
       flex-shrink: 0;
       flex-basis: auto; */
}
.navigation{
    background: skyblue;
    height: 100px;
    flex: 0 0 auto;
    display: flex;
}
.main-menu{
    /* ul태그기초 자동 설정 없애기 */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: pink;
    display: flex;
    flex: 1 1 auto;
    /* 위의 flex는 navigation의 자식요소로서의 flex item */
}
/* 밑에는 하위선택자로 한 것 / 자식선택자로 할거면 .main-menu>li ???이런식 */
.main-menu li{
    flex: 1 0 auto;
}
/* main-menu의 몇번째 자식에게 / 가상선택자? */
.main-menu li:nth-child(odd){
    background: lime;
}
.main-menu li:nth-child(even){
    background: orange;
}
.container{
    background: tomato;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}
.content{
    background: blue;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.books{
    background: yellow;
    flex: 1 0 auto;
}
.board{
    background: aqua;
    flex: 2 0 auto;
    display: flex;
}
.notice{
    background: pink;
    flex: 1 0 auto;
}
.pds{
    background: orange;
    flex: 1 0 auto;
}
/* 위의 flex 2 >> 3분의 2 차지 */
.ad{
    background: green;
    flex: 0 0 250px;
}
.footer{
    background: yellowgreen;
    height: 50px;
    flex: 0 0 auto;
}


