@charset 'utf-8';

/*.branding{
    box-sizing: border-box;
    margin: 50px 100px;
    position: relative;
    width: 290px;
    height: 195px;
    text-align: center;
    padding: 50px;
    background: yellow url(../images/title.png);
    width: 290px;
    height: 0;
    padding-top: 195px;
    overflow: hidden;
}
.branding span{
    background: url(../images/title.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
.btn-group{
    margin: 50px 100px;
}
.btn-group span{
    background: url(images/backpage_forwardpage.png) no-repeat;
    display: inline-block;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}
span.btn-forward{
    background-position: 100% 0;
}